.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.navbar {
  width: 200px;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: rgb(234, 236, 159);
}

.navbar li {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.container {
  flex-grow: 1;
  /* background-color: rgb(125, 207, 218); */
  /* display: flex; */
  /* align-items: stretch; */
}
